.login-box {
    display: flex;
    flex-flow: column wrap;
    justify-self: center;
    background-color: rgb(255, 255, 255);
    /*  margin-left: 35%;
    margin-right: 35%; */
    padding: 10px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 40px;
    min-width: 160px;
    max-width: 350px;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.loginHeader {
    text-align: center;
    color: #0ea5e9;
}

.loginBody {
    font-size: 0.85em;
    font-weight: 500;
    color: rgb(151, 161, 182);
    text-align: left;
    margin-top: 5px;
    gap: 8px;
}

.section {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 900;
    color: #0f2d5e;
    text-align: left;
}

#loginHeader {
    font-size: 1.4rem;
    font-weight: 900;
    color: #0ea5e9;
    margin-bottom: 2px;
}

#login-sub-header {
    font-size: 0.85rem;
    font-weight: 500;
    color: rgb(151, 161, 182);
}

#signInButton {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 600;
    background-color: #0ea5e9;
    margin-top: 15px;
    width: 100%;
    height: 40px;
    border-width: 0;
    border-radius: 10px;
}

.textbox-header {
    color: #374151;
    text-align: left;
    font-weight: 700;
    ;
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 5px;
}

.textFields {
    border-radius: 6px;
    border: 1.5px solid rgb(227, 232, 239);
    height: 35px;
    padding: 0.7rem;
    color: rgb(168, 168, 168);
}

#forgotPassword {
    display: flex;
    align-self: flex-end;
    color: #0ea5e9;
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 15px;
}

#wrongCreditentialWarning {
    margin-top: 15px;
    background-color: rgb(251, 242, 200);
    border: 1px solid #fde047;
    color: #92400e;
    line-height: 1.5;
    border-radius: 6px !important;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    white-space: normal;
}

#warningHeader {
    font-weight: 700;
}

.MuiAlert-icon {
    display: none !important;
}